<h1>Support</h1>
<%= link_to "Home", root_path %>
<%= link_to "ask question", new_support_chat_path %>

<p>My questions:</p>
<div class="ms-3">
  <% @chats.each do |chat|%>
    <div class="card w-25 mt-3 p-2">
      <div>
        question: <span class="ms-3"><%= link_to chat.title, support_chat_path(chat) %></span>
      </div>
    </div>
  <% end %>
</div>
