<%= link_to "Main", admin_dashboard_path %>
<div class="ms-3">
  <% @chats.each do |chat|%>
    <div class="card w-25 mt-3 p-2">
      <div>
        login: <span class="ms-3"><%= chat.user.login %></span>
      </div>
      <div>
        question: <span class="ms-3"><%= link_to chat.title, admin_chat_path(chat) %></span>
      </div>
    </div>
  <% end %>
</div>
