.outer_section {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 20px;

  .inner_section {
    .messages {
      .message {
        border: 2px solid gray;
        margin-top: 20px;
        background-color: rgb(140, 172, 165);

        .login {
          font-size: 12px;
          color: #2b00ff
        }
      }

      .current_user {
        background-color: rgb(5, 247, 194);
      }
    }
  }
}
